{{> menu active="about"}}

<section class="hero">
    <div class="hero-body has-text-centered">
        <p class="title ">
            Trails : Walking Trails in Ireland </p>
        <p class="box">
            <i class="fas fa-hiking fa-5x" style="color:deepskyblue"></i>
            <i class="fas fa-plus fa-4x" style="color:red"></i>
            <i class="fas fa-walking fa-5x" style="color:green"></i>
        </p>
    </div>
</section>